:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

.editor {
  display: grid;
  grid-template-columns: calc(80% - 4px) 20%;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas: "tool tool" "pre pre" "tl ctl";

  gap: 4px;
  & div {
    min-width: 10px;
    min-height: 10px;
    background-color: #eeeeee;
  }

  .toolbar {
    grid-area: tool;
    width: 100vw;
    height: 32px;
  }

  .preview {
    grid-area: pre;
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    position: relative;
    & video {
      position: absolute;
      height: 100%;
      aspect-ratio: 16/9;
      background-color: gray;
    }
  }
  .timeline {
    grid-area: tl;
    height: 300px;
  }
  .control {
    grid-area: ctl;
    grid-shrink: 1;
  }
}

// tailwind のマネごと
.block {
}

.hidden {
  opacity: 0.1;
}

.bg-black {
  background: gray;
}
